.login-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.forgot-password {
    align-self: center;
    margin-top: 30px;
    margin-bottom: -8px;
    font-size: 14px;
    color: #405c45;
    text-decoration: underline;
}

.login-button,
.register-button {
    width: 100%;
    height: 42px;
    border: 2px solid #111;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.login-button {
    background: #405c45;
    color: white;
}

.register-button {
    margin-top: -8px;
    background: white;
    color: #405c45;
}