.home {
    width: 100%;
    min-height: 100vh;

    background: #FBF5E5;
    color: #183d20;
}

.home-content {
    padding: 0 16px 90px;
}


/* ===== TÍTULOS ===== */

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 20px 0 10px;
}

.section-header h2 {
    margin: 0;

    font-size: 15px;
    font-weight: 700;

    color: #183d20;
}

.section-header button {
    border: none;
    background: transparent;

    color: #3d7045;

    font-size: 10px;

    cursor: pointer;
}


/* ===== CATEGORIAS ===== */


/* ===== LISTA DE ALIMENTOS ===== */

.item-list {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 10px;
}